JWT_SECRET=somethingsecret
MONGODB_URI=mongodb://localhost/test
MONGODB_URI_REMOTE=mongodb+srv://ngockhanh1116:C3HiLCc3twOLgifJ@cluster0.bsq3n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT = 4000
